# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.*.swp
*~
 
*.mk
Makefile
*.Makefile
*.pyc
out

*.xcodeproj
.DS_Store
npm-debug.log

src/common/chrome_version.h
dummy_session

dist
