<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
        <key>CFBundleExecutable</key>
        <string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>thrust_shell.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.breach.${PRODUCT_NAME}</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
	<key>CFBundleVersion</key>
	<string>0.7.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.8.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
        <!--
        <key>NSMainNibFile</key>
        <string>MainMenu</string>
        -->
	<key>NSPrincipalClass</key>
        <!-- <string>BRYApplication</string> -->
        <!-- <string>AtomApplication</string> -->
	<string>ThrustShellApplication</string>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
