
.entry {
  color: white;
  background-color: hsl(228, 14%, 14%);
  padding-top: 4px;
  height: 36px;
  line-height: 14px;
  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 1px solid hsl(228, 14%, 18%);
  cursor: pointer;
}

.entry:hover {
  background-color: hsl(228, 14%, 16%);
  border-bottom: 1px solid hsl(228, 14%, 20%);
}

.entry > .favicon {
  float:left;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: hsl(228, 14%, 18%);
}

.entry > .title {
  font-weight: 700;
  font-size: 0.9em;
}

.entry > .url {
  font-size: 0.8em;
  opacity: 0.7;
  letter-spacing: -1px;
}
