.stack {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background: -webkit-linear-gradient(top, 
                                      hsl(220, 12%, 10%), 
                                      hsl(220, 12%, 20%));
}


.stack .page {
  color: white;
  background-color: hsl(228, 14%, 14%);
  padding-top: 2px;
  height: 32px;
  line-height: 14px;
  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 1px solid hsl(228, 14%, 18%);
  cursor: pointer;
}

.stack .page:not(.top) {
  border-right: 1px solid hsl(220, 12%, 5%);
}

.stack .page:not(.top):hover {
  background-color: hsl(228, 14%, 16%);
  border-bottom: 1px solid hsl(228, 14%, 20%);
}

.stack .page.active:not(.top) {
  background-color: hsl(228, 14%, 30%);
  border-bottom: 1px solid hsl(228, 14%, 16%);
}

.stack .page.top {
  cursor: default;
  background-color: hsl(228, 7%, 95%);
  border-bottom: 1px solid hsl(228, 14%, 25%);
  background: -webkit-gradient(radial, 
                               100 36,
                               0,
                               100 -40,
                               120,
                               from(hsl(0, 0%, 98%)),
                               to(hsl(0, 0%, 95%))),
              hsl(0, 0%, 95%);
  color: black;
}


.stack .page > .favicon {
  float:left;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-top: 4px;
  margin-right: 5px;
  background-color: hsl(228, 7%, 90%);
  border: 1px solid hsl(228, 14%, 12%);
  border-radius: 3px;
  background-size: cover;

}

.stack .page.top > .favicon {
  background-color: hsl(228, 7%, 90%);
  border: 1px solid hsl(228, 14%, 85%);
}


.stack .page > .title {
  font-weight: 700;
  font-size: 0.9em;
}

.stack .page.top > .title {
  margin-top: 7px;
}

.stack .page > .url {
  font-size: 0.8em;
  opacity: 0.7;
  letter-spacing: -1px;
}
