body {
  padding: 0;
  margin: 0;
}

.search {
  position: absolute;
  top: 0px;
  height: 40px;
  left: 0px;
  right: 0px;
  background-color: hsl(200, 20%, 20%);
}

.entries {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: hsl(200, 0%, 20%);
}

