@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/SourceSansPro-ExtraLight.tff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SourceSansPro-Semibold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/SourceSansPro-Black.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url('/fonts/SourceSansPro-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/SourceSansPro-LightItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/SourceSansPro-Italic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/SourceSansPro-SemiboldItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/SourceSansPro-BoldItalic.ttf');
}



body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro';
  font-size: 14px;
}

